# Copyright (c) 2026 Muhammad Waleed Badar
# SPDX-License-Identifier: Apache-2.0

config RM69XXX
	bool "Raydium RM69xxx display driver"
	default y
	depends on DT_HAS_RAYDIUM_RM69310_ENABLED || DT_HAS_RAYDIUM_RM69092_ENABLED
	select MIPI_DBI
	help
	  Enable driver for RM69310 and RM69092 display controllers.
